.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    width: 90%;
    /* Ajoutez la largeur souhaitée ici */
    max-width: 1200px;
    /* Ajoutez une valeur maximale de largeur si nécessaire */
    margin-left: auto;
    margin-right: auto;
}


.weather-container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.weather-container>div {
    margin-top: 20px;
}

.details-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    padding: 24px;
    margin: 16px 0px 16px 0px;
    transition: all 0.3s ease-in-out;
    /*width: calc((100% - 48px) / 3);*/
    /* Modifier cette ligne */
    max-width: 100%;
}

.weather-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}